* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: ingredient(#f1f3f5, #e9ecef, #dee2e6);
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.container {
  position: relative;
}

.chatbot-toggler {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: linear-gradient(135deg, #4c6ef5, #3b5bdb);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.chatbot-toggler:hover {
  background-color: #3b5bdb;
  transform: scale(1.05);
}

.container.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler .icon-chatbot,
.chatbot-toggler .icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-out;
}
.container .chatbot-toggler .icon-chatbot {
  opacity: 1;
}
.container.show-chatbot .chatbot-toggler .icon-chatbot {
  opacity: 0;
}
.container .chatbot-toggler .icon-close {
  opacity: 0;
}
.container.show-chatbot .chatbot-toggler .icon-close {
  opacity: 1;
}

.chatbot-popup {
  opacity: 0;
  pointer-events: none;
  width: 440px;
  transform: scale(0.8);
  transform-origin: bottom right;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  overflow: hidden;
  position: fixed;
  bottom: 84px;
  right: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.2);
}

.chatbot-popup.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.chatbot-popup .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  color: #4c6ef5;
}

.chat-header .header-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-header .logo-text {
  font-size: 1.15rem;
  color: #212529;
}

.chat-header .button-minimize {
  padding: 8px;
  border: none;
  outline: none;
  font-size: 0;
  border-radius: 50%;
  background: transparent;
  transition: 0.2s ease;
  cursor: pointer;
}

.chat-header button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 80px;
  scrollbar-width: thin;
  scrollbar-color: #ecf0ff transparent;
}

.chat-body .message {
  display: flex;
  gap: 12px;
  align-items: start;
}

.chat-body .message.user-message {
  justify-content: flex-end;
}

.chat-body .message .message-content {
  padding: 12px 16px;
  max-width: 75%;
  border-radius: 12px;
  word-break: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.chat-body .model-message .message-content {
  background-color: #f7f7f7;
}

.message-thinking {
  gap: 4px;
  display: flex;
  align-items: center;
  color: #b5b5b5;
}

.message-thinking span {
  padding-bottom: 2px;
}

.chat-body .user-message .message-content {
  background-color: #4c6ef5;
  color: #fff;
}

.chat-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 16px 20px;
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  border-radius: 24px;
  gap: 12px;
}

.chat-form .message-input:focus-within {
  outline: 1px solid #b8b8b8;
}

.chat-form .message-input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  background: #f7f7f7;
  outline: 1px solid #ededed;
  height: 48px;
  border-radius: 12px;
  font-size: 0.95rem;
}

.chat-form .message-input::placeholder {
  color: #b8b8b8;
}

.chat-form button {
  padding: 8px;
  border-radius: 12px;
  background: linear-gradient(135deg, #4c6ef5, #3b5bdb);
  margin: 0;
  border: none;
  outline: none;
  color: #fff;
  transition: 0.2s ease;
  font-size: 0;
  cursor: pointer;
}

.chat-form button:hover {
  background: linear-gradient(135deg, #3b5bdb, #3b5bdb);
}

@media (max-width: 520px) {
  .chatbot-toggler {
    bottom: 16px;
    right: 16px;
  }

  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .chatbot-popup .chat-header {
    padding: 12px 16px;
  }

  .chat-body {
    height: calc(100vh - 136px);
    padding: 16px;
  }

  .chat-footer {
    padding: 16px;
  }
}
