* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: ingredient(#f1f3f5, #e9ecef, #dee2e6);
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.chatbot-popup {
  width: 440px;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.2);
}

.chatbot-popup .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  color: #4c6ef5;
}

.chat-header .header-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-header .logo-text {
  font-size: 1.15rem;
  color: #212529;
}

.chat-header button {
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: 0.2s ease;
  cursor: pointer;
}

.chat-header button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 500px;
  overflow-y: auto;
  padding: 20px 24px;
  margin-bottom: 80px;
  scrollbar-width: thin;
  scrollbar-color: #ecf0ff transparent;
}

.chat-body .message {
  display: flex;
  gap: 12px;
  align-items: start;
}

.chat-body .message.user-message {
  justify-content: flex-end;
}

.chat-body .message .message-content {
  padding: 12px 16px;
  max-width: 75%;
  border-radius: 12px;
  word-break: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.chat-body .model-message .message-content {
  background-color: #f7f7f7;
}

.chat-body .user-message .message-content {
  background-color: #4c6ef5;
  color: #fff;
}

.chat-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 16px 24px;
}

.chat-footer .chat-form {
  display: flex;
  align-items: center;
  border-radius: 24px;
  gap: 12px;
}

.chat-form .message-input:focus-within {
  outline: 1px solid #b8b8b8;
}

.chat-form .message-input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  background: #f7f7f7;
  outline: 1px solid #ededed;
  height: 48px;
  border-radius: 12px;
  font-size: 0.95rem;
}

.chat-form button {
  padding: 10px;
  border-radius: 12px;
  background-color: #4c6ef5;
  margin: 0;
  border: none;
  outline: none;
  color: #fff;
  transition: 0.2s ease;
  display: none;
  font-size: 0;
  cursor: pointer;
}

.chat-form button:hover {
  background-color: #3b5bdb;
}

.chat-form .message-input:valid ~ button {
  display: block;
}
